* {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* css variables */
:root {
  --white-bg: #fffffe;
  --dark-gray: #ababab;
  --dark-bg: #abd1c6;
  --light-bg: #e8e4e6;
  --greensolid-bg:#001e1d;
  --green-bg:#004643;
  --orange-bg:#f9bc60;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white-bg);
}

html::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}

body {
  background-color: var(--dark-bg);
}

section {
  padding: 5rem 12%;
}

/* home */
.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/Fadel.jpeg');
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.home .hero-text {
  font-size: 7rem;
  color: var(--white-bg);
  font-weight: 200;
  line-height: 1.2;
}

.home .hero-text span {
  font-weight: 800;
}

.home p {
  color: var(--white-bg);
  font-size: 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/* home */

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 9%;
  z-index: 100;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navbar a {
  font-size: 1.5rem;
  color: var(--white-bg);
  padding: 0 2rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header .menu {
  font-size: 2.5rem;
  color: var(--greensolid-bg);
  cursor: pointer;
  text-align: left;
  display: none;
}

.header.active {
  background-color: var(--white-bg);
  padding: 3rem 9%;
}

.header.active .navbar a {
  color: var(--greensolid-bg);
}

.header.active .navbar a:hover {
  color: var(--dark-bg);
}

.header.active .menu {
  color: var(--dark-bg);
}

/* header */

/* portfolio */
/* utility class */
.heading {
  color: var(--white-bg);
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 4rem;
}

.heading span {
  font-weight: 700;
}
/* utility class */

.portfolio .box-container .box .image {
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.portfolio .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.portfolio .box-container .box {
  background-color: var(--green-bg);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.portfolio .box-container .box:hover img {
  transform: scale(1.2);
}

.portfolio .box-container .box .image .content {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--green-bg);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}

.portfolio .box-container .box .content h2 {
  font-size: 2rem;
  color: var(--white-bg);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.portfolio .box-container .box:hover .image .content {
  transform: translateY(0);
}
/* portfolio */
/* add scrollbar */
/* fix header */

/* EDUCATION */
.EDUCATION .col .box {
  background-color: var(--light-bg);
  padding: 2.5rem;
  margin: 2rem 0;
  box-shadow: var(--box-shadow);
}

.EDUCATION .col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.EDUCATION .col h2 {
  font-size: 2.5rem;
  color: var(--greensolid-bg);
  font-weight: 200;
  padding-bottom: 2rem;
}

.EDUCATION .col .box span {
  color: var(--greensolid-bg);
  font-size: 1.7rem;
  display: flex;
  
  align-items: center;
}

.EDUCATION .col .box span i {
  padding-right: 0.5rem;
  font-size: 1.7rem;
}

.EDUCATION .col .box h3 {
  color: var(--greensolid-bg);
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}

.EDUCATION .col .box p {
  font-size: 1.5rem;
  color: var(--greensolid-bg);
  margin-top: 1.5rem;
  line-height: 2rem;
  text-transform: none;
  text-align: justify;
}

.EDUCATION .col .box .Fadel {
  color: var(--orange-bg);
  text-transform: capitalize;
}
/* EDUCATION */

/* about */
.about .box-container .box .image {
  height: 90%;
  overflow: hidden;
}

.about .box-container .box .image img {
  width: 100%;
  height: 98%;
  object-fit: cover;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.about .box-container .box p {
  color: var(--greensolid-bg);
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  text-transform: none;
}
/* about */

/* clients */
.clients .box-container .box .image {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  margin: 0 auto;
}

.clients .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.clients .box-container .box {
  text-align: center;
  background-color: var(--light-bg);
  padding: 2.3rem;
  box-shadow: var(--box-shadow);
  
}

.clients .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.clients .box-container .box .content {
  margin-top: 3rem;
}

.clients .box-container .box .content p:nth-child(1) {
  font-size: 1.7rem;
  color: var(--greensolid-bg);
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  text-transform: none;
  text-align: justify;
}

.clients .box-container .box .content p:nth-child(2) {
  font-style: italic;
  font-size: 1.5rem;
  color: var(--light-gray);
}

.clients .box-container .box .content p:nth-child(2) span {
  color: var(--yellow);
  font-style: normal;
}
/* clients */

/* services */
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 5rem;
  
}

.services .box-container .box {
  background-color: var(--light-bg);
  padding: 3.5rem;
  text-align: center;
  
  box-shadow: var(--box-shadow);
}

.services .box-container .box h2 {
  font-size: 4rem;
  color: var(--greensolid-bg);
  font-weight: 500;
  margin-bottom: 2rem;
}

.services .box-container .box p {
  font-size: 2.5rem;
  color: var(--greensolid-bg);
  margin-bottom: 2rem;
  line-height: 1.7;
  text-transform: none;
  letter-spacing: 0.1rem;
  text-align: justify;
}

/* services */

/* contact */
.contact .col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}
.contact .col-container .col h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 200;
  padding-bottom: 5rem;
}

.contact .col-container .col input,
.contact .col-container .col textarea {
  background-color: var(--white-bg);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--greensolid-bg);
  margin: 0.5rem 0;
  resize: vertical;
}

.contact .col-container .col p {
  font-size: 1.7rem;
  color: var(--white-bg);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.contact .col-container .col span {
  font-size: 1.5rem;
  color: var(--white-bg);
  letter-spacing: 0.1rem;
}

/* utlity class */
.btn {
  background-color: var(--orange-bg);
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--white);
  text-transform: uppercase;
  margin-right: 1rem;
  display: inline-block;
  margin-top: 1rem;
}
/* utlity class */

/* Map */
iframe {
  width: 600px;
  height: 410px;
  border: 0;
}
/* contact */

/* media queries */
@media (max-width: 1200px) {
  .header {
    padding: 3rem 2rem;
  }}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }}

/* media queries */

/* Map */
iframe {
  width: 600px;
  height: 410px;
  border: 0;
}

/* logo with funtion */
img {
  padding: 3px solid ;
}
